     /* Parent container */
    .days{
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        z-index: 2000;
        top: 70%; 

        /* left: 10%;   */
      }
    .days_parent {
        display: flex; 
        justify-content: center;   
        justify-content: space-evenly;
        align-items: center;         
        gap: 20px;                     
        flex-wrap: wrap;             
        position: relative;

      }
      
      /* Child circles */
      .days_child {
        min-width: 40px;            
        min-height: 40px;           
        border-radius: 50%;          
        justify-content: center;     
        align-items: center;         
        transition: transform 0.3s;  
        font-size: 1rem;
        font-weight: 900;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        background-color: transparent; 
        position: relative; 
       
      }
    .days_child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 7px; /* Adjust padding for border thickness */
  background: conic-gradient(from 360deg at 50% 50%, #F714D7 0deg, #7C1866 180deg);;
  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  animation: rotate 3s linear infinite;

}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.days_child1::after,.days_child2::after,.days_child3::after {
  content: attr(days-target) ;
  position: absolute; 
  bottom: -20px; 
  left: 50%;
  transform: translateX(-50%); 
  font-size: 0.8rem; 
  font-weight: normal; 
  color: #fefefe;
}

      
      
      /* Hover effect */
      .days_child:hover {
        transform: scale(1.1);      
      }
      

      .days_text{
        display: none;
        
         }
      @media screen and (min-width: 446px) {
        
        .days{
          display: grid;
          grid-template-columns: 1fr 0.25fr;
          position: fixed;
          z-index: 2000;
          top: 50%; 
          right: 0px;  
  
       }
       .days_parent {
          display: flex;
          flex-direction: column; 
          justify-content: center;   
          justify-content: space-evenly;
          align-items: center;         
          gap: 20px;                     
          flex-wrap: wrap;             
          position: relative;

        }
        
        /* Child circles */
        .days_child {
          min-width: 50px;            
          min-height: 50px;           
          border-radius: 50%;          
          justify-content: center;     
          align-items: center;         
          transition: transform 0.3s;  
          font-size: 1rem;
          font-weight: 900;
        }
        .days_child{
          color: white;
          display: flex;
          text-align: center;
          align-items: center;
          background-color: transparent; 
          position: relative; 
        }
        .days_text{
          writing-mode: vertical-rl;
          text-orientation: upright;
          color: white;
          display: flex;
          justify-content: center;  
          text-align:right;
           }
        
      }