
 /* 
 ==========
 Service
 ==========
  */

  .service_card{
    background-color: transparent;
    color: white;
    position: relative;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}

.service_card img{
    transition: opacity 0.5s ease-in-out;

}

.service_card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.service_card:hover img{
opacity: 0.5;
}

.service_card:hover p{
    opacity: 1;

}
.service_card:after {
  content: "";
  position: absolute;
  top:100%; /* Starts below the parent */
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(255 , 255, 255, 0.5);
  border-radius:10px;
  transition: transform 1, opacity 0.5s;
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.service_card:hover::after {
  top: 0;
  opacity: 0.1;
}
