/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Roboto&display=swap');
/* Global Styles */

:root{
    
    --clr-primary:#EBADED;
    --clr-primary-light:#FFA559;
    --clr-grey-10: #5C5470;
    --clr-grey-5: #B9B4C7;
    --clr-grey-1:#FAF0E6;
    --clr-white:#ffffff;
    --ff-primary: "Catamaran", sans-serif;
    --ff-secondary:"Grand Hotel";
    --ff-Roboto: "Roboto", sans-serif;
    --ff-lato:"Lato", sans-serif;
    --transition: all 0.5s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
    font-size: 0.875rem;
    background-color: var(--clr-white);
    color: var(--clr-grey-10);
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    


}
section{
    padding: 2rem 0;
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
h1,
h2,
h3,
h4{
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    line-height:1.5;
    margin-bottom:1rem;


}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25rem;
}
@media screen and (min-width:800px) {
    
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    body{
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4{
        line-height: 1;
    }

    
}
/* more Global Css */
.btn{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    background-color: var(--clr-grey-10);
    letter-spacing: var(--spacing);
    font-weight: 700;
    color: white;
    transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    background-color: var(--clr-white);
    color: var(--clr-grey-5);

}
.clearfix::before,
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}
.section-title h3{
    font-family: var(--ff-secondary);
    color: var(--clr-grey-5);
}
.section-title{
    background-color: rgb(18, 151, 43);
    margin-bottom: 2rem;
}
.section-center{
    border: 1px solid red;
    padding: 4rem ;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width:992px) {
    .section-center{
        width: 92vw;
        padding: 4rem 1rem;
    }
}
/*
Animation
 */
@keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
@keyframes slideFromRight {
    0% {transform: translateX(1000px); opacity: 0;}
    50% {transform: translateX(-200px); opacity: 0.5;}
    75% {transform: translateX(50px); opacity: 0.75;}
    100% {transform: translateX(0); opacity: 1;}
}
@keyframes slideFromLeft {
    0% {transform: translateX(-1000px);opacity: 0;}
    50% {transform: translateX(200px); opacity: 0.5;}
    75% {transform: translateX(-50px); opacity: 0.75;}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes show {
    0% {transform: scale(1.5); opacity: 0;}
    50% {transform: scale(2);opacity: 0.5;}
    100% {transform: scale(1); opacity: 1;}
}
/* 
===========
navbar
===========
*/

.nav-btn{
    position: fixed;
    color: var(--clr-primary);
    font-size: 2.5rem;
    top: 5%;
    left: 5%;
    cursor: pointer;
    z-index: 1;
    /* animation */
    animation: bounce 2s ease infinite;
}
.navbar{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
    background-color: var(--clr-grey-5);
    box-shadow: 2px 0 2px rgb(0, 0, 0, 0.3);
    /* hide nav */
    transform: translateX(-100%);
    transition: var(--transition);
}

.show-nav{
    transform: translate(0);
}

.navbar-header{
    text-align: right;
    padding-right: 1rem;
}

.nav-close{
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-primary-light);
    transition: var(--transition);

}
.nav-close:hover{
    color: var(--clr-primary);

}
.nav-items{
    list-style-type: none;
}
.nav-link{
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    color: var(--clr-primary-light);
    transition: var(--transition);

}
.nav-link:hover{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
    padding-left: 4rem;
    border-left: 0.25rem solid var(--clr-primary);
}
@media screen and (min-width:768px) {
    .navbar{
        width: 30vw;
        max-width: 20rem;
    }
    
}
/* 
===========
Header
===========
*/

.header{
    min-height: 100vh;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.2408672086998862) 43%, rgba(0,212,255,1) 100%),url(../images/banner-cover.jpg) center/cover no-repeat fixed; */
    position: relative;
    overflow-x: hidden;

}
.banner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner h2{
    font-family: var(--ff-Roboto);
    /* animation */
    animation: slideFromRight 5s ease-in-out 1;
}
.banner h1{
    font-family: var(--ff-lato);
    font-style: italic;
    /* animation */
    animation: slideFromLeft 5s ease-in-out 1;
    
}

.banner-btn{
    outline: 0.25rem solid var(--clr-grey-10);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
    animation: show 2s ease-in 1;

}
.content-Divider{
    height: 0.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
}
/* 
==========
Parallax
==========
 */

.parallax{
    /* border: 1px solid red; */
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 12px solid red; */

}
.parallax img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
    pointer-events: none;
}
/* 
==========
landing_page
==========
 */
 #landing_page{
    position: relative;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #DB7CF2;
    overflow: hidden;
 }
 #landing_page img{
    
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    /* border: 2px solid red; */

 }
 #landing_page #Layer4 { 
    top: -10px;
    animation: scroll 7s infinite;
 }

 #landing_page #Layer3{ 
    scale: -1;
    top: -10%;
 }

#landing_page h1{
    position: relative;
    top: -10rem;
}

@keyframes scroll {
     0% { left:-100%; } 
     50% { left: 100%; } 
     100% { left: 200%;;  }
}
/* 
==========
landing extention
==========
 */


 
 #landing_page_extention{
    position: relative;
    
 }
 #Layer7{
    position: absolute;
    top:-110vh;
 }

 /* event number */

/* 
=========
ABOUT
=========
 */
 #about{
    background-image: url(../images/workshop_background.svg);
    background-color: #360D3F;
 }

 /* 
 ==========
 Service
 ==========
  */

.service_card{
    background-color: transparent;
    color: white;
}

/* 
=========
PRODUCT
=========
 */
.products{
    background-color: var(--clr-grey-1);
}
.products article{
    padding: 2rem 0;
}
.product-text{
    color: var(--clr-grey-5);
    max-width: 350px;
}
.product{
    margin-bottom: 2rem;
}
.product-img{
    border-radius: var(--radius);
    object-fit: cover;
    margin-bottom: 2rem;
    height: 17rem;
}
.ptoduct-price{
    color: #5C5470;
}
@media screen and (min-width:768px) {
    .product{
        float: left;
        width: 50%;
        padding-right: 2rem;
    }
}
@media screen and (min-width:992px) {
    .product{
        width: 33.33%;
    }
}
@media screen and (min-width:1200px) {
    .product-info{
        float: left;
        width: 30%;
    }
    .product-inventory{
        float: left;
        width: 70%;
    }
    .product{
        margin-bottom: 0;
        padding-left: 1rem;
    }
}


/* 
===========
CONTACT
===========
 */

.contact{
    background-color: #B9B4C7;
}
.contact-info, .contact-form{
    margin: 1rem 0;

}
.contact-item{
    margin-bottom: 1.75rem;
}
.contact-title{
    color: var(--clr-primary);
    font-weight: 400;
}
.contact-text{
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: black;
}
.contact-form{
    background: var(--clr-primary-light);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    transition: var(--transition);
    max-width: 35rem;
    
}
.contact-form:hover{
    box-shadow: 0 4px 2px rgb(0, 0, 0, 0.3);
}
.contact-form h3{
    padding-top: 1.25rem;
    color: var(--clr-grey-10);
}
.form-group{
    padding: 1rem 1.5rem;

}
.form-control{
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1.25rem;
    background-color: var(--clr-grey-5);
    border-radius: var(--radius);
    letter-spacing: var(--spacing);
}
.form-control::placeholder{
    font-family: var(--ff-primary);
    color: #5C5470;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
.submit-btn{
    width: 100%;
    background-color: #FF6000;
    padding: 1rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
@media screen and (min-width:992px) {
    .contact-form, .contact-info{
        float: left;
        width: 50%;
    }
    
}
/* 
==========
Competition
========== */
#competition{
    background-color: black;
}
#competition .competition_card{
    background-color: #50455B;
    overflow: hidden ;
 
}
.competition_img_cover{
    display: flex;
    align-items: center; 
}
/* 
==========
workshops
==========
 */
 #workshops{
    background-color: #320B3D;
    background-image: url(../images/workshop_background.svg);
 }
 .carousal{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
 }

/* 
==========
Speakers
==========
 */

/* 
=========
footer
=========
*/
.footer{
    text-align: center;
}
.social-icon{
    color: white;
    font-size: 1.5rem;
    margin-right: 2rem;
    transition: var(--transition);
}
.social-icon:hover{
    color: #f300aa;
}
.footer-text{
    margin-top: 1rem;
    text-transform: uppercase;
    color: #FAF0E6;
    font-weight: 400;
}
.company{
    color: var(--clr-primary);
}